$primary: #fc4747;
$body-bg: #10141e;
$body-secondary-color-bg: #161d2f;
$body-color: #ffffff;
$link-color: $primary;

@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

.custom-container {
  margin: 2rem auto;
  width: 100%;
}

.container {
  padding: 0;
}

body,
h1,
h2 {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
}

.navbar {
  background-color: $body-secondary-color-bg;
  padding: 1rem;
}

.navbar-brand {
  color: $body-color;
  font-weight: 500;
  --bs-navbar-active-color: red;
}

.navbar-brand:hover,
.nav-link:hover {
  color: $primary;
}

.nav-link {
  color: $body-color;
}

.login-form,
.signup-form {
  padding: 1rem;
}
